@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ada";

* { -webkit-font-smoothing: antialiased; }
*, *::before, *::after { box-sizing: content-box; }
::-moz-selection { background: #fff; }
::selection { background: #fff; }
::-moz-selection {	background: #fff; }

/*
 * Globals
 */

 @layer base {
    h1 { @apply text-6xl; }
    h2 { @apply text-5xl; }
    h3 { @apply text-4xl; }
    h4 { @apply text-3xl; }
    h5 { @apply text-2xl; }
    h6 { @apply text-xl; }
}

body {
	font-family: $ff-sans;
	background: $page-bkg;
	color: $base-font-color;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	letter-spacing: 0.4px;
	line-height: 28px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $ff-serif;
	color: $tang;
}

a {
	color: $sunrise;
	font-weight: $base-font-weight;
	letter-spacing: 0.35px;
	line-height: 28px;
	text-decoration: none;
}

p a {
	text-decoration: underline;
}
